<<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"  src="assets/food1.jpg"  alt="..."  style="width:800px;height:350px;"/></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">The Food Corner</h1>
            <p>THE FOOD CORNER provides you  a number of delicious and spicy dishes. the food is healthy and nutrious.</p>
            <a class="btn btn-primary" href="#!">Explore dishes here!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
    </div>
